@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Poppins' , sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: hsl(0, 0%, 86%);
}
.container{
        /* border: 1px solid black; */
        width: 70%;
        /* height: 1s0%; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: hsl(0, 0%, 94%);
        border-radius: 3rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2em;
        
}

hr{
    height: 2rem;
    border-style: none;
}

input{
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    border-style:none;
    text-align: center;
}

.forms{
    /* border: 1px solid red; */
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: space-around;
    
}

.result{
    /* border: 1px solid red; */
    padding-top: 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}

.btn{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.btn > button{
    font-size: large;
    color: #e3ffe7;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border-style: none;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.btn > button:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
    
}

.days>p{
    color:hsl(259, 100%, 65%);
    font-size: 70px;
    font-weight: 300;
    font-style: italic;
}

.months>p{
    color:hsl(259, 100%, 65%);
    font-size: 70px;
    font-weight: 300;
    font-style: italic;
}

.years>p{
    color:hsl(259, 100%, 65%);
    font-size: 70px;
    font-weight: 300;
    font-style: italic;
}

.custom{
    color: aqua;
}

.days{ 
    display: flex;
    gap: 50px;
    width: 300px;
    justify-content: center;
    align-items: center;

}

.months{
     display: flex;
     gap: 50px;
     width: 300px;
     justify-content: center;
     align-items: center;
    }

.years{ 
    display: flex;
    gap: 50px;
    width: 300px;
    justify-content: center;
    align-items: center;
}


.day{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.month{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.year{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


@media (max-width:768px) {
    .forms{
    flex-direction: column;
    align-items: center;
    }
}